.home .col-lg-8 .row .col-lg-6 .d-flex h5 {
  font-size: 16px;
}

.home .col-lg-8 .row .col-lg-6 .d-flex .dropdown button {
  background-color: #f4f5fa;
  font-size: 14px;
}

.home .col-lg-8 .row .col-lg-6 .bg-white .row .col-lg-3 .earnings {
  font-size: 8px;
  color: #9d9fa9;
}

.home .col-lg-8 .row .col-lg-6 .bg-white .row .col-lg-3 h5 {
  font-size: 30px;
}

.home .col-lg-8 .row .col-lg-6 .bg-white .row .col-lg-3 .d-flex img {
  width: 40px;
  height: 40px;
}

.home .col-lg-8 .row .col-lg-6 .bg-white .row .col-lg-3 .d-flex p {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.home .col-lg-8 .row .col-lg-6 .card__visa {
  background-color: #7240e8;
}

.home .col-lg-8 .row .col-lg-6 .card__visa h1 {
  color: #fff;
  font-size: 24px;
}

.home .col-lg-8 .row .col-lg-6 .card__visa h1:nth-child(2) {
  font-style: italic;
}

.home .col-lg-8 .row .col-lg-6 .card__visa .iconVisa {
  height: 70%;
  width: 70%;
}

.home .col-lg-8 .row .col-lg-6 .card__visa p {
  margin-bottom: -2px;
}

.home .col-lg-8 .card__itemsBuy h5 {
  font-size: 16px;
}

.home .col-lg-8 .card__itemsBuy .d-flex h4 {
  margin-bottom: -1px;
}

.home .col-lg-8 .card__itemsBuy .d-flex .siku span {
  color: #9d9fa9;
}

.home .col-lg-8 .card__itemsBuy .d-flex p {
  font-size: 12px;
  color: #9d9fa9;
}

.home .col-lg-8 .card__itemsBuy .shopping__list p:nth-child(2) {
  cursor: pointer;
}

.home .col-lg-8 .card__itemsBuy .checkbox_item .col .form-check {
  background-color: #f4f5fa;
}

.home .col-lg-8 .card__itemsBuy .checkbox_item .col .form-check label,
.home .col-lg-8 .card__itemsBuy .checkbox_item .col .form-check input {
  font-size: 14px;
}

.home .col-lg-8 .card__chat h5 {
  font-size: 16px;
}

.home .col-lg-8 .card__chat .wrapp__chat__right {
  background-color: #0085ff;
  border-radius: 10px 10px 0 10px;
}

.home .col-lg-8 .card__chat .wrapp__chat__right p {
  font-size: 14px;
}

.home .col-lg-8 .card__chat .wrapp__chat__left {
  background-color: #f4f5fa;
  border-radius: 10px 10px 10px 0;
}

.home .col-lg-8 .card__chat .wrapp__chat__left p {
  font-size: 14px;
}

.home .col-lg-8 .card__chat .wrapp__message form input {
  background-color: #f4f5fa;
  font-size: 14px;
}

.home .col-lg-8 .card__chat .wrapp__message form input:focus {
  border: none;
}

.home .col-lg-8 .card__chat .wrapp__message {
  background-color: #f4f5fa;
}

.home .col-lg-8 .card__chat .wrapp__message form .btn__send__chat {
  background-color: #0085ff;
}
